*{
	padding:0;
	margin:0;
}
body{
	font-family:'Arial' , sans-serif;
	font-size:14px;
	color:white;
	background:black;
	line-height:1.6em;
}
@font-face {
    font-family: myFirstFont;
    src: url(MeltdownMF.ttf);
}

h3 {
	text-align:center;
	color:brown;
	font-size:3em;
    font-family: myFirstFont;
}
h2{
	color:black;
	font-family: Geogia;
	font-weight: medium;
	text-align: center;

}
h1{
	text-decoration:none;
	text-align:center;
	margin-bottom:20px;
}
p{
	font-size:130%;
}
a{
	text-decoration:none;
	color:white;
}
#container{
	width:980px auto;
	height:550px auto;
	overflow:hidden;
}
#slider{

	width:829px;
	height:550px;
	overflow:hidden;
	position:relative;
	float:left;
	padding:3px;
	border:orange solid 2px;
	 border-radius:5px;
}
#slider img{
	width:829px;
	height:550px;
}
.slide{
	position:absolute;
}
.slide-copy{
	position:absolute;
	bottom:0;
	padding:0;
	padding:20px;
	background:brown;
	background: rgba(0,0,0,0,5);
}
#prev #next{

	cursor:pointer;
	position:relative;
	z-index:100;
}
#prev{
	  margin-top:120px;
		float:left;
}
#next{
	margin-top:130px;
		float:right;
}
